[submodule "cs550"]
	path = cs550
	url = https://github.com/hardikbagdi/cs550
[submodule "cs575"]
	path = cs575
	url = https://github.com/hardikbagdi/cs575
[submodule "cs542"]
	path = cs542
	url = https://github.com/hardikbagdi/cs542
